.dashboard-layout {
  display: flex;
  min-height: 100vh;
  background: #f9fafb;
}

/* SIDEBAR */
.sidebar {
  width: 260px;
  background: #ffffff;
  border-right: 1px solid #e5e7eb;
  padding: 24px;
}

/* MAIN CONTENT */
.dashboard-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 260px;
  padding: 24px;
  transition: margin-left 0.3s ease, width 0.3s ease;
}

/* TOPBAR */
.topbar {
  height: 64px;
  background: #ffffff;
  border-bottom: 1px solid #e5e7eb;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* PAGE CONTENT */
.dashboard-content {
  flex: 1;
  padding: 24px;
  overflow-y: auto;
}

.sidebar.collapsed ~ .dashboard-main {
  margin-left: 80px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .sidebar {
    width: 80px;
    padding: 12px;
  }

  .dashboard-content {
    padding: 16px;
  }

  .dashboard-main{
    margin-left: 0;
    padding: 16px;
  }
}
